[submodule "provisioning/roles/xcezx.mysql"]
	path = provisioning/roles/xcezx.mysql
	url = git@github.com:xcezx/ansible-mysql.git
[submodule "provisioning/roles/xcezx.httpd"]
	path = provisioning/roles/xcezx.httpd
	url = git@github.com:xcezx/ansible-httpd.git
[submodule "provisioning/roles/xcezx.php"]
	path = provisioning/roles/xcezx.php
	url = git@github.com:xcezx/ansible-php.git
[submodule "provisioning/roles/xcezx.zabbix-repository"]
	path = provisioning/roles/xcezx.zabbix-repository
	url = git@github.com:xcezx/ansible-zabbix-repository.git
[submodule "provisioning/roles/xcezx.zabbix-agent"]
	path = provisioning/roles/xcezx.zabbix-agent
	url = git@github.com:xcezx/ansible-zabbix-agent.git
[submodule "provisioning/roles/xcezx.zabbix-server"]
	path = provisioning/roles/xcezx.zabbix-server
	url = git@github.com:xcezx/ansible-zabbix-server.git
[submodule "provisioning/roles/xcezx.zabbix-web"]
	path = provisioning/roles/xcezx.zabbix-web
	url = git@github.com:xcezx/ansible-zabbix-web.git
